# =========================
# OS
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# IDE
# =========================
.settings/
.project
.cproject
*.launch
RemoteSystemsTempFiles/

# =========================
# STM32 build output
# =========================
Debug/
Release/
STM32CubeIDE/Debug/
STM32CubeIDE/Release/

*.o
*.d
*.su
*.elf
*.hex
*.bin
*.map
*.list
*.srec
*.axf

# =========================
# TouchGFX simulator + tools (IGNORE COMPLETELY)
# =========================
TouchGFX/build/
TouchGFX/generated/simulator/
TouchGFX/simulator/build/
*.touchgfx~

Middlewares/ST/touchgfx/framework/tools/**/build/
Middlewares/ST/touchgfx/lib/sdl2/
Middlewares/ST/touchgfx/lib/win/
Middlewares/ST/touchgfx/lib/linux/
Middlewares/ST/touchgfx/3rdparty/

# =========================
# KEEP ONLY MCU LIB
# =========================
!Middlewares/ST/touchgfx/lib/core/cortex_m4f/gcc/libtouchgfx-float-abi-hard.a

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*.bak
*.orig
*~